@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92vh;
}
/*     HEADER     */
.headerDiv {
  display: flex;
  align-items: end;
  flex-direction: end;
  font-weight: 400;
  color: #FFFFFF;
}
.headerTexts {
  position: absolute;
  padding: 50px 28px 8px 215px;
}
.text1 {
  font-family: 'Russo One', sans-serif;
  text-align: end;
  font-size: 18px;
}
.text2 {
  font-family: 'Russo One', sans-serif;
  font-size: 48px;
}
/*       MAIN      */
.mainDiv {
  padding: 23px 28px 0px 29px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 374px;
  background-color: #FFFFFF;
}
.inputDiv {
  display: flex;
  gap: 10px;
}
.inputInsideClear {
  display: flex;
}
.inputClear {
  font-size: 18px;
  text-align: center;
  position: absolute;
  background-color: #FFFFFF;
  color: red;
  width: 25px;
  height: 25px;
  margin-left: 240px;
  margin-top: 15px;
  border-radius: 50%;
}
input {
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 215px;
  height: 49px;
  color: #888888;
  background-color: #EBEFF2;
  padding-left: 20px;
  padding-right: 40px;
}
.ENTER {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 88px;
  height: 50px;
  background-color: #20EEB0;
  color: #FFFFFF;
}
/* USER NOTES  */
.footerDiv {
  height: 350px;
  margin-top: 36px;
}
.footerChild {
  height: 340px;
}
.footerFlex {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.userText {
}
.userText.done {
  color: #fd6868;
}
.doneClick {
  border-radius: 50%;
  border: 2px solid #20EEB0;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
}
.clicked {
  text-align: center;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #20EEB0;
}
.deleteClick {
  cursor: pointer;
}
.iconsTogether {
  display: flex;
  gap: 20px;
  padding-right: 10px;
}
.textAlone {
  text-align: start;
  padding-left: 10px;
  font-family: 'Inter', sans-serif;
  line-height: 21.78px;
  font-weight: 500;
  font-size: 18px;
  color: #8383ff;
  width: 90%;
}
.span {
  background-color: red;
  height: 10px;
  width: 80%;
}
